//
// Colors
//

// General
$primary: #e09794;
$secondary: #282f49;
// Text
$headings-color: #282f49;
$body-color: #7e7e8a;

//
// Typography
//

// Fonts
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900|Yeseva+One&display=swap");
$font-family-base: "Poppins", sans-serif;
$headings-font-family: "Yeseva One", cursive;

// Size
$font-size-base: 1.125rem; // 18px
$h1-font-size: 60px;
$h2-font-size: 50px;
$h3-font-size: 30px;
$h4-font-size: 25px;
$h5-font-size: 22px;
$h6-font-size: 16px;

// Spacing
$headings-margin-bottom: 1.5rem;
$line-height-base: 1.75;

// Misc
$link-hover-decoration: none;

// Hacks

.hero_figure img {
    border-radius: 15px 50px 30px;
    -webkit-mask: none !important;
}

.footer__cta {
    padding: 80px 80px !important;
}

// Fix displaying SVG header logo
.navbar-brand {
    img {
        height: 41px;
    }
}

// SVG ASHA logo
.footer__widget_logo img {
    max-width: 90%;
}

// fontawesome logos for service item icons
.service__slider_item-icon a {
    font-size: 400%;
}
